In [ ]:
# 1) Expliquer ce qu’est un KPI (avec vos mots)? (1pt)
c'est un indicateur de perfomances.

In [57]:
# 2) Importer les librairies pandas et numpy (0.5pt)

import pandas as pd 
import numpy as np 

# 3) Importer et le dataset ‘resto_eval.csv’ (0.5pt)
from google.colab import files
uploaded = files.upload()
uploaded2 = files.upload()
import io
# 4) Afficher les 12 premières lignes du dataset (0.5pt)
resto_eval = pd.read_csv(io.BytesIO(uploaded['resto_eval.csv']))
resto_eval_12 = pd.read_csv(io.BytesIO(uploaded2['resto_eval.csv']), nrows=12)
resto_eval_12

Saving resto_eval.csv to resto_eval (8).csv

Saving resto_eval.csv to resto_eval (9).csv

    Unnamed: 0  ...  item_price
0            0  ...         NaN
1            1  ...      $3.39
2            2  ...      $3.39
3            3  ...         NaN
4            4  ...     $16.98
5            5  ...     $10.98
6            6  ...      $1.69
7            7  ...     $11.75
8            8  ...      $9.25
9            9  ...      $9.25
10          10  ...      $4.45
11          11  ...      $8.75

[12 rows x 6 columns]

In [17]:
# 5) Afficher les dimensions du dataset (sa taille)? (0.5pt)
resto_eval.shape
#rows = 4622
#columns = 6

(4622, 6)

In [ ]:
# 6) Afficher, et décrire les colonnes de notre dataset (0.5pt)
resto_eval.info()

In [20]:
# 7) Afficher les statistiques descriptives du dataset (0.5pt)
resto_eval.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

In [19]:
# 8) Quel est l’item le plus commandé ? (1pt)
resto_eval['item_name'].describe()

count             4622
unique              50
top       Chicken Bowl
freq               726
Name: item_name, dtype: object

In [18]:
# 9) Combien d’items ont été commandés au total ? (1pt)
item_com = resto_eval['quantity'].sum()

4972

In [55]:
# 10)Combien de chiffre d’affaire à realisé la société ? (2pt)

# resto_clean = resto_eval['item_price'].replace('\$', '', regex=True).astype(float)
# chiffre_d_affaires = resto_clean['item_price'] * resto_clean['quantity']
# chiffre_d_affaires

# resto_eval['item_price'] = resto_eval['item_price'].map(lambda x: x.rstrip('$'))
# resto_eval['item_price'].str.extract('(\$*\.?\d*)', expand=False).astype(float)
# resto['item_price'] = resto['item_price'].apply(lambda x: float(x[1:]) if isinstance(x, str) else None)
# resto_drop_nan['total'] = resto_drop_nan['quantity'] * resto_drop_nan['item_price'] 

resto_clean = resto_eval.dropna()
item_price = resto_clean["item_price"].replace('[\$,]', '', regex=True).astype(float)
resto_eval['total'] = (resto_eval['quantity'] * item_price)
resto_eval['total'].sum()

33601.979999999996

In [56]:
# 11)Quel est le revenu moyen par commande ? (2pt)
resto_eval['total'].mean()

9.953193127962143